airflow:
  # Disable Helm hooks for GitOps workflow
  createUserJob:
    useHelmHooks: false
    applyCustomEnv: false
  migrateDatabaseJob:
    useHelmHooks: false
    applyCustomEnv: false

  # Git-sync configuration for DAGs
  dags:
    gitSync:
      enabled: true
      repo: git@github.com:HSLU-DBIZ/JobMonitor-DAGs.git
      branch: main
      subPath: ""
      sshKeySecret: flux-git-ssh

